@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background-color: #0D0D0D;
  color: #EAEAEA;
  font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}
::-webkit-scrollbar-thumb {
  background: #2A2A2A;
  border-radius: 10px;
}